@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


:root {
    --gray: #24292f;
    --blue: #222b3d;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.repos_page {
    color: #24292f;
    height: fit-content;
    padding-bottom: 30vh;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('img/noise.png');

}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.37);
}

.home {
    color: #fff;
    width: 40px;
    font-size: 24px;
    margin-right: auto;
    margin-left: 40px;
}

.empty {
    width: 40px;
    margin-left: auto;
    margin-right: 40px;
}

.search_form {
    width: 640px;
    display: flex;
    gap: 5px;
}

.search_form__input {
    flex: 4;
    border: 1px solid #57606a;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: var(--blue);

}

.search_form__btn {
    flex: 1;
    color: #fff;
    background: #1c1d1f;
    border: 1px solid #57606a;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}


.repositories {
    display: flex;
    flex-direction: column;
}

.repository {
    width: 640px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.37);
    background-color: #fff;
}

.repository__details {
    display: flex;
}

a {
    text-decoration: none;
    color: #0969da;
}

.repository__name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.repository__description {
    max-height: 63px;
    overflow: hidden;
    margin-bottom: 5px;
}

.repository__topics {
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.repository__topic {
    margin: 4px 2px;
    padding: 5px 10px 8px;
    background-color: #ddf4ff;
    border: none;
    border-radius: 100vmax;
}

.repository__topic:hover {
    color: #fff;
    background: #0969da;
}

.repository__details {
    display: flex;
    gap: 10px;
    color: #57606a;
    font-size: 14px;
    margin-bottom: 5px;
}

.stargazers {
    display: flex;
    align-items: center;
    gap: 5px;
}


.no_repos_found {
    color: var(--blue);
    background-color: #f85149;
    width: 640px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.37);
    margin-bottom: 81%;
}

@media(max-width: 850px) {
    .empty,
    .home {
        display: none;
    }
}

@media(max-width: 700px) {



    .repository,
    .no_repos_found {
        width: 95vw;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
}